
.home-header {
    background: linear-gradient(100deg,#37BEB0, #DBF5F0);
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-bottom {
    background: linear-gradient(100deg,#37BEB0, #DBF5F0);
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
}

.home-container {
    height: 100vh;    
    background: #0C6170
}
.header-btn:hover {
    border-color: white;
}

.home-heading {
    padding: 0px;
    margin: 0px;
    font-size: 44px;
    margin-left: 30px;
    color: white;
    font-family: 'Kaushan Script', cursive;
}

.description {
    font-size: 72px;
    color: white;
    text-align: center;
    margin: 0px;
    margin-top: 200px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
}

.btn-section {
    position: absolute;
    left: 42vw;
    top: 50vh;
}

.btn{
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 24px;
    border-color: white;
    border-radius: 8px;
    border-width: 4px;
    cursor: pointer;
}
.btn:hover {
    background: rgba(255,165,0, 0.2);
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}
#about-btn {
    padding: 5px 10px;
    color: #37BEB0
}
#about-btn:hover {
    border-color: white;
    background-color: white;
    color: #0C6170;
}
#about-btn:focus {
    box-shadow: none;
    background: white;
    border-color: white;
    color: #0C6170;
}

.about-main {
    position: absolute;
    left: 30vw;
    top: 96vh;
    margin: auto;
    width: 70%;
}

.about-content {
    color: white;
    font-size: 12px;
}

.bottom-content {
    color: white;
    font-size: 20px;
    text-align: center
}
.about-content a{
    color: white;  
   }