
.tutorials-heading {
    font-size: 40px;
    margin-left: 100px;
    padding-top: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.tutorials-content {
    color: white;
    font-size: 18px;
    margin: auto;
    margin-left: 100px;
}
.tutorials-content-container {
    width: 80%;
}