.secondary-btn {
  position: absolute;
  width: 24vw;
  height: 3vw;
  left: 37vw;
  bottom: 3vw;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border-color: rgba(125, 125, 125, 0.1);
  border-width: 5px;
  background-color: rgba(0, 0, 0,0.2);
  color: white;
}

.performance-container {
  display: flex;
  padding: 20px;
  position: relative;
  left: 10%;
}

.pose-performance {
  width: 200px;
  margin: 10px 10px;
  background-color: #37BEB0;
  border-radius: 8px;
  padding: 10px;
  color: white
}

#webcam {
  transform: rotateY(180deg);
}

#my-canvas {
  transform: rotateY(180deg);
}

.pose-img {
  position: absolute;
  right: 120px;
  top: 250px;
  width: 450px;
  height:450px;
  aspect-ratio: 1;
}


#start-btn {
  padding: 5px 10px;
  color: #37BEB0;
}
#start-btn:hover {
  border-color: white;
  background-color: white;
  color: #0C6170;
}
#start-btn:focus {
  box-shadow: none;
  background: white;
  border-color: white;
  color: #0C6170;
}
